* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: #FFFFFF;

}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.img-logo {
    width: 150px;
}

.days {
    display: flex;
    max-width: 500px;
    margin-left: auto;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    padding: 20px 50px;
    margin-bottom: 50px;
}

.day-1 h2 {
    margin-bottom: 15px;
}

.day-1 span {
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.days-1 {
    display: flex;
    max-width: 500px;
    margin-left: auto;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    padding: 20px 50px;
    margin-bottom: 50px;
}



.day-2 h2 {
    margin-bottom: 15px;
}

.day-2 span {
    display: inline-block;
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.content-2 {
    display: flex;
}

.images-about-day-2 {
    background-color: orange;
    padding: 20px;
    border-radius: 20px;
}

.politiker {
    max-width: 500px;
    border-radius: 20px;
}

.content-3 {
    display: flex;
}

.days-2 {
    display: flex;
    max-width: 500px;
    margin-left: auto;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    padding: 20px 50px;
}

.day-3 h2 {
    margin-bottom: 15px;
}

.day-3 span {
    display: inline-block;
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.videos-about-day-2 {
    margin-top: 50px;
    border-radius: 20px;
    background-color: orange;
    padding: 10px;
    margin-left: 50px;
}

.videos-about-day-2 video {
    width: 300px;
}