* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    background: #F7F8FD;
}

.container {
    max-width: 825px;
    margin: 0 auto;
}



.jobs h1 {
    display: flex;
    justify-content: center;
}

.job {
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 825px;
}

.job h2 {
    display: flex;
    justify-content: center;
}

.for-example img {
    max-width: 150px;
    margin-left: 285px;
}

.for-example span {
    display: inline-block;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #3A4374;
}

.for-example p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: -0.25px;

    color: #3A4374;

}





.jobs-1 h1 {
    display: flex;
    justify-content: center;
}

.job-1 {
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 825px;
}

.job-1 h2 {
    display: flex;
    justify-content: center;
}

.for-example-1 img {
    max-width: 150px;
    margin-left: 285px;
}

.for-example-1 span {
    display: inline-block;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #3A4374;
}

.for-example-1 p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: -0.25px;

    color: #3A4374;

}




.jobs-2 h1 {
    display: flex;
    justify-content: center;
}

.job-2 {
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 825px;
}

.job-2 h2 {
    display: flex;
    justify-content: center;
}

.for-example-2 img {
    max-width: 150px;
    margin-left: 285px;
}

.for-example-2 span {
    display: inline-block;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #3A4374;
}

.for-example-2 p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: -0.25px;

    color: #3A4374;

}

.for-example-2 a {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: black;
}


.jobs-3 h1 {
    display: flex;
    justify-content: center;
}

.job-3 {
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 825px;
}

.job-3 h2 {
    display: flex;
    justify-content: center;
}

.for-example-3 img {
    max-width: 150px;
    margin-left: 285px;
}

.for-example-3 span {
    display: inline-block;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #3A4374;
}

.for-example-3 p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: -0.25px;

    color: #3A4374;

}






.jobs-4 h1 {
    display: flex;
    justify-content: center;
}

.job-4 {
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 825px;
}

.job-4 h2 {
    display: flex;
    justify-content: center;
}

.for-example-4 img {
    max-width: 150px;
    margin-left: 285px;
}

.for-example-4 span {
    display: inline-block;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #3A4374;
}

.for-example-4 p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: -0.25px;

    color: #3A4374;

}






.jobs-5 h1 {
    display: flex;
    justify-content: center;
}

.job-5 {
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 825px;
}

.job-5 h2 {
    display: flex;
    justify-content: center;
}

.for-example-5 img {
    max-width: 150px;
    margin-left: 285px;
}

.for-example-5 span {
    display: inline-block;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #3A4374;
}

.for-example-5 p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: -0.25px;

    color: #3A4374;

}

.for-example-5 a {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: black;
}






.jobs-6 h1 {
    display: flex;
    justify-content: center;
}

.job-6 {
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 825px;
}

.job-6 h2 {
    display: flex;
    justify-content: center;
}

.for-example-6 img {
    max-width: 150px;
    margin-left: 285px;
}

.for-example-6 span {
    display: inline-block;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #3A4374;
}

.for-example-6 p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: -0.25px;

    color: #3A4374;

}

.for-example-6 a {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: black;
}



.jobs-7 h1 {
    display: flex;
    justify-content: center;
}

.job-7 {
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 825px;
}

.job-7 h2 {
    display: flex;
    justify-content: center;
}

.for-example-7 img {
    max-width: 150px;
    margin-left: 285px;
}

.for-example-7 span {
    display: inline-block;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #3A4374;
}

.for-example-7 p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: -0.25px;

    color: #3A4374;
}

.for-example-7 a {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: black;
}



.jobs-8 h1 {
    display: flex;
    justify-content: center;
}

.job-8 {
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 825px;
}

.job-8 h2 {
    display: flex;
    justify-content: center;
}

.for-example-8 img {
    max-width: 150px;
    margin-left: 285px;
}

.for-example-8 span {
    display: inline-block;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #3A4374;
}

.for-example-8 p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: -0.25px;

    color: #3A4374;

}

.for-example-8 a {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: black;
}



.jobs-9 h1 {
    display: flex;
    justify-content: center;
}

.job-9 {
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 825px;
}

.job-9 h2 {
    display: flex;
    justify-content: center;
}

.for-example-9 img {
    max-width: 150px;
    margin-left: 285px;
}

.for-example-9 span {
    display: inline-block;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #3A4374;
}

.for-example-9 p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: -0.25px;

    color: #3A4374;

}



.creator button {
    display: inline-block;
    text-decoration: none;

    justify-content: flex-start;
    margin-top: 80px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    background: #bb3703;
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
    border: none;
    padding: 14px 41px;
    border-radius: 28px;
    cursor: pointer;
    transition: transform 1s ease-in-out;
}

.arrow span:hover {
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
    border-radius: 28px;
    transform: scale(2.04);
}





@media (max-width: 775px) {
    .jobs {
        transform: translateY(0px);
    }
}